@media screen and (min-width: 1921px) {
  body {
    height: 100vh;
  }
  .body__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
  }
  .body__container .calcu {
    width: 100%;
  }
  .body__container .calcu__container {
    width: 45%;
    padding: 10px 0 20px;
    margin: 0 auto;
  }
  .body__container .calcu__container__title {
    text-align: center;
    margin-bottom: 20px;
  }
  .body__container .calcu__container__title h1 {
    font-size: 30px;
    padding-bottom: 10px;
  }
  .body__container .calcu__container__form__result form {
    width: 90%;
    margin: 0 auto;
  }
  .body__container .calcu__container__form__result form .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 8px;
  }
  .body__container .calcu__container__form__result form .row input,
  .body__container .calcu__container__form__result form .row label {
    font-size: 1rem;
  }
  .body__container .calcu__container__form__result form .row label {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .body__container .calcu__container__form__result form .row input {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 6px 12px;
  }
  .body__container .calcu__container__form__result form .calc--btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin: 1em 0;
  }
  .body__container .calcu__container__form__result form .calc--btn input {
    padding: 7px 15px;
  }
  .body__container .calcu__container__form__result .calcu__result .row__out {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 90%;
    margin: 8px auto 0;
  }
  .body__container .calcu__container__form__result .calcu__result .row__out p {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .body__container .calcu__container__form__result .calcu__result .row__out .rate__total {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 6px 12px;
  }
  .body__container .calcu__container__form__result .calcu__result .row__out .cbm__total {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 6px 12px;
  }
  .body__container .calcu__container__form__result .calcu__result .row__out .cbm__total p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .body__container .calcu__container__form__result .calcu__result .row__out .cbm__total .cbm__symbol {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .body__container aside {
    text-align: center;
    margin: 50px 0;
  }
  .body__container aside p {
    font-size: 14px;
    font-style: italic;
  }
}

@media screen and (max-width: 1920px) {
  body {
    height: 100vh;
  }
  .body__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
  }
  .body__container .calcu {
    width: 100%;
  }
  .body__container .calcu__container {
    width: 45%;
    padding: 10px 0 20px;
    margin: 0 auto;
  }
  .body__container .calcu__container__title {
    text-align: center;
    margin-bottom: 20px;
  }
  .body__container .calcu__container__title h1 {
    font-size: 30px;
    padding-bottom: 10px;
  }
  .body__container .calcu__container__form__result form {
    width: 90%;
    margin: 0 auto;
  }
  .body__container .calcu__container__form__result form .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 8px;
  }
  .body__container .calcu__container__form__result form .row input,
  .body__container .calcu__container__form__result form .row label {
    font-size: 1rem;
  }
  .body__container .calcu__container__form__result form .row label {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .body__container .calcu__container__form__result form .row input {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 6px 12px;
  }
  .body__container .calcu__container__form__result form .calc--btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin: 1em 0;
  }
  .body__container .calcu__container__form__result form .calc--btn input {
    padding: 7px 15px;
  }
  .body__container .calcu__container__form__result .calcu__result .row__out {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 90%;
    margin: 8px auto 0;
  }
  .body__container .calcu__container__form__result .calcu__result .row__out p {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .body__container .calcu__container__form__result .calcu__result .row__out .rate__total {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 6px 12px;
  }
  .body__container .calcu__container__form__result .calcu__result .row__out .cbm__total {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 6px 12px;
  }
  .body__container .calcu__container__form__result .calcu__result .row__out .cbm__total p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .body__container .calcu__container__form__result .calcu__result .row__out .cbm__total .cbm__symbol {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .body__container aside {
    text-align: center;
    margin: 50px 0;
  }
  .body__container aside p {
    font-size: 14px;
    font-style: italic;
  }
}
