@media screen and (max-width: 380px) {
	body {
		padding: 0 20px;
	}

	.calcu {
		&__container {
			width: 100%;

			&__title {
				h1 {
					font-size: 24px;
				}
			}

			&__form__result {
				form {
					width: 90%;
					margin: 0 auto;

					.row {
						flex-direction: column;
						align-items: flex-start;

						input,
						label {
							font-size: 1rem;
						}

						label {
							padding: 7px 0;
						}

						input {
							width: 100%;
							padding: 6px 12px;
							margin: 0 auto;
						}
					}

					.calc--btn {
						input {
							padding: 7px 15px;
						}
					}
				}

				.calcu__result {
					.row__out {
						flex-direction: column;
						align-items: flex-start;

						p {
							font-size: 1rem;
							padding: 7px 0;
						}

						.rate__total {
							width: 100%;

							.peso__sign {
								font-size: 1rem;
							}
						}

						.cbm__total {
							width: 100%;

							p {
								padding: 0;
							}
						}
					}
				}
			}
		}
	}

	aside {
		text-align: center;

		p {
			font-size: 14px;
			line-height: 1.7;
		}
	}
}

@media screen and (max-width: 320px) {
	body {
		padding: 0 20px;
	}

	.calcu {
		&__container {
			width: 100%;

			&__title {
				h1 {
					font-size: 20.5px;
				}
			}

			&__form__result {
				form {
					width: 90%;
					margin: 0 auto;

					.row {
						flex-direction: column;
						align-items: flex-start;

						input,
						label {
							font-size: 14px;
						}

						label {
							padding: 7px 0;
						}

						input {
							width: 100%;
							padding: 6px 12px;
							margin: 0 auto;
						}
					}

					.calc--btn {
						input {
							padding: 5px 15px;
						}
					}
				}

				.calcu__result {
					.row__out {
						flex-direction: column;
						align-items: flex-start;

						p {
							font-size: 14px;
							padding: 7px 0;
						}

						.rate__total {
							width: 100%;

							.peso__sign {
								font-size: 14px;
							}
						}

						.cbm__total {
							width: 100%;

							p {
								padding: 0;
							}
						}
					}
				}
			}
		}
	}

	aside {
		p {
			font-size: 12px;
		}
	}
}
