@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

$font-stack: 'Montserrat', sans-serif;

$primary-color: rgb(58, 58, 58);
$secondary-color: #a31002;
$tertiary-color: #3672b7;

* {
	font-family: $font-stack;
	padding: 0;
	margin: 0;
	outline: none;
	box-sizing: border-box;
}

section,
.footer__container {
	max-width: 1440px;
	margin: 0 auto;
}

.body__container {
	.calcu {
		&__logo {
			display: flex;
			justify-content: center;

			.logo {
				outline: none;

				img {
					width: 180px;
					height: 180px;
				}
			}
		}

		&__container {
			border: 1px solid $tertiary-color;
			border-radius: 5px;
			width: 45%;
			padding: 0 0 20px;
			margin: 0 auto;

			&__title {
				text-align: center;
				margin-bottom: 20px;

				h1 {
					font-size: 30px;
					font-weight: 500;
					border-bottom: 1px solid $tertiary-color;
					padding: 10px 0;
					color: white;
					background-color: $tertiary-color;
				}
			}

			&__form__result {
				form {
					width: 90%;
					margin: 0 auto;

					.row {
						display: flex;
						align-items: center;
						margin-top: 8px;

						input,
						label {
							font-size: 1rem;
							color: $primary-color;
						}

						label {
							flex: 1;
						}

						input {
							flex: 1;
							background-color: #fff;
							border: 1px solid #ced4da;
							border-radius: 5px;
							padding: 6px 12px;
						}

						input:focus {
							border: 1px solid $tertiary-color;
						}
					}

					.calc--btn {
						display: flex;
						justify-content: flex-end;
						margin: 1em 0;

						input {
							color: white;
							background: $tertiary-color;
							border: 1px solid $tertiary-color;
							border-radius: 5px;
							padding: 7px 15px;
							cursor: pointer;
						}

						input:active {
							border: 1px solid #3672b7d5;
							background-color: #3672b7d5;
						}
					}
				}

				.calcu__result {
					.row__out {
						display: flex;
						align-items: center;
						width: 90%;
						margin: 8px auto 0;

						p {
							color: $primary-color;
							flex: 1;
						}

						.rate__total {
							flex: 1;
							background-color: #90b9e967;
							border: 1px solid #3672b72d;
							border-radius: 5px;
							padding: 6px 12px;

							.peso__sign,
							.ratePesoTotal {
								color: #634e2c;
							}
						}

						.cbm__total {
							flex: 1;
							background-color: #90b9e967;
							border: 1px solid #3672b72d;
							border-radius: 5px;
							padding: 6px 12px;

							p {
								color: #634e2c;
								display: flex;
								justify-content: space-between;
							}

							.cbm__symbol {
								display: flex;
								justify-content: flex-end;
							}
						}
					}
				}
			}
		}
	}

	aside {
		text-align: center;
		margin: 50px 0;

		p {
			font-size: 14px;
			font-style: italic;

			a {
				color: $primary-color;
			}

			a:hover {
				color: #333232d0;
				border-bottom: 1px solid $primary-color;
			}
		}
	}
}

// Universal Styles
a {
	text-decoration: none;
}

.uom {
	font-size: 13px;
}

@import 'responsive';
